@inherits FlowNode

@*输入流，就是数据源的位置*@

@if (Data != null)
{
    <rect x="@Rect.X" y="@Rect.Y" width="@Rect.W" height="@Rect.H"
      style="stroke:rgb(0,0,200);stroke-width:1;fill:white;" />


    <foreignObject x="5" y="0" width="@Rect.W" height="@Rect.H">
        <div>数据源：@Data.Title</div>
        <hr />
        <button class="btn btn-primary btn-sm" @onclick="@addTrunk"><span style="line-height:10px;font-size:10px">添加节点</span></button>
    </foreignObject>
}
else
{
    <rect x="0" y="0" width="@Input.Width" height="@Input.Height"
      style="stroke:rgb(0,0,200);stroke-width:1;fill:rgb(0,0,0);fill-opacity:0.25" />

    <foreignObject x="5" y="0" width="@Input.Width" height="@Input.Height">
        <div>数据源</div>
        <hr />
        <button class="btn btn-primary btn-sm" @onclick="@addInput"><span style="line-height:10px;font-size:10px">添加</span></button>
    </foreignObject>
}